.header-container {
  align-items: center;
  background-color: #222;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 350px;
}
